In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data

,num_ligne,ID_Client,Nom,Score_Credit,Pays,Sex,Age,Tenure,Balance,Num_Produit,il_a_CrCard,Membre_actif,Salaire_estime,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

Je choisis comme target le désabonnement, et comme features le sexe et les pays

In [68]:
y = data[["Exited",]]
X = data[['Sex',"Pays"]]

#y = y.values.reshape(-1, 1)

In [73]:
from sklearn.preprocessing import LabelEncoder,  StandardScaler
labelencoder = LabelEncoder()

X["Pays"] = labelencoder.fit_transform(X["Pays"])
X["Sex"] = labelencoder.fit_transform(X["Sex"])
print(X["Pays"])
print(X["Sex"])
y = labelencoder.fit_transform(y)
print(y)

0       0
1       2
2       0
3       0
4       2
       ..
9995    0
9996    0
9997    0
9998    1
9999    0
Name: Pays, Length: 10000, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Sex, Length: 10000, dtype: int64
[1 0 1 ... 1 1 0]

C:\Users\utilisateur\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\utilisateur\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Je normalise les valeurs de X

In [75]:
standard = StandardScaler()
X = standard.fit_transform(X)

In [76]:
from sklearn.model_selection import train_test_split
print(X_train.shape,y_train.shape)

(8000, 12) (8000,)

In [47]:
X_test, X_train, y_test, y_train = train_test_split(X,y,test_size=0.8,random_state=3)

In [82]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
forest = RandomForestClassifier(n_estimators=100)
forest.fit(X_train, y_train)

RandomForestClassifier()

In [83]:
y_pred_train = forest.predict(X_train)
y_pred_test = forest.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score

In [86]:
score =accuracy_score(y_test, y_pred_test)
score

0.5515

Je reteste avec le PCA comme on l'a vu dans un des derniers Kata

In [87]:
from sklearn.decomposition import PCA

In [91]:
pca = PCA(n_components=0.75)

In [93]:
X_pca = pca.fit_transform(X_train)
forest_pca = RandomForestClassifier(n_estimators=100)
forest_pca.fit(X_pca, y_train)

RandomForestClassifier()

In [94]:
X_test_pca = pca.transform(X_test)
y_prediction_pca = randomforest_pca.predict(X_test_pca)
y_prediction_pca

array([0, 1, 0, ..., 0, 0, 1])

In [95]:
accuracy_score(y_test, y_prediction_pca)

0.516